@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.login_center_div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #d6d6d670;
  padding: 20px;
}

.welcome_message {
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
  letter-spacing: 2px;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
  font-size: 1rem;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  font-size: 1rem;
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.login_form #username_validation_error,
.login_form #password_validation_error,
.login_form #form_validation_error {
  text-align: left;
  font-size: 0.8rem;
  width: 100%;
  background-color: rgb(251, 105, 105);
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  display: none;
}

.nav_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.btn.btn-dark {
  margin-right: 2rem;
}

.btn.btn-dark:hover {
  background-color: rgb(82, 82, 82);
}

.welcome_message_name {
  margin: 2rem;
}

.main_table {
  margin: 2rem;
}

#insertion_form {
  display: none;
}

#insertion_form #new_user_validation_error,
#insertion_form #new_lastname1_validation_error,
#insertion_form #new_birthdate_validation_error,
#insertion_form #new_password_validation_error {
  text-align: left;
  font-size: 0.8rem;
  width: 100%;
  background-color: rgb(251, 105, 105);
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  display: none;
}

.main_table .update_anchor,
.main_table .delete_anchor {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.main_table .update_anchor {
  border-radius: 5px;
  color: white;
  background-color: rgb(66, 99, 189);
}

.main_table .delete_anchor {
  border-radius: 5px;
  color: white;
  background-color: crimson;
}

.overlay {
  display: flex;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  width: 35%;
}
